* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-header {
  border-radius: 0;
  background-color: silver;
  border: 2px solid black;
}

.navbar-brand h1 { /* Company name */
  color: black;
  line-height: 0.75;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#page-heading { /* Page heading */
  color: black;
  font-weight: bold;
  font-size: 2.2em;
}

.row-item {
  margin-right: 0px;
  margin-left: 0px;
}

.menu-item {
  background-color: silver;
  margin-bottom: 15px;
}

.menu-item-title {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 5px;
}

.menu-item-info {
  padding: 15px, 15px, 15px, 0px;
}

#collapsable-nav {
  clear: both;
  border: 0;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 2px solid black;
}

#nav-list li {
  border-bottom: 2px solid black;
}

#nav-list li:nth-child(3) {
  border-bottom: 0;
}

#nav-list a {
  font-size: 1.4em;
  color:black;
  background-color: white;
  text-align: center;
  text-decoration: none;
}

.navbar-header button.navbar-toggle.collapsed, .navbar-header button.navbar-toggle:focus {
  background-color: silver;
}

.navbar-header button.navbar-toggle.collapsed {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle.collapsed .icon-bar {
  border: 2px solid black;
}

.navbar-header button.navbar-toggle {
  border: 1px solid whitesmoke;
}

.navbar-header button.navbar-toggle .icon-bar {
  border: 2px solid whitesmoke;
}

/* Extra margins for extra small screen sizes, as shown in the mockup */
@media (max-width: 767px) { 

  .row-item {
    margin-right: 10%;
    margin-left: 10%;
  }
}
